/*
Minesweeper, CSS
	Author:		Michael Mroczka, Max Petretta
	Date:		December 17, 2016
	Class:		CIS 435-001
	Purpose:	Main CSS stylesheet for HTML game page
	Notes:		None
*/

body {
	background: darkslategray;
	font-family: arial, helvetica, sans-serif;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

h2 {
	font-size: 200%;
	margin: 0px 0px 0px 0px;
	text-decoration: underline;
}

table {
	margin: auto;
}

td {
	border: 1px solid black;
}

img {
	display: block;
	width: 20px;
}

input {
	margin-top: 15px;
	padding: 10px 0px 10px 0px;
	width: 100%;
}

#game_area {
	background: white;
	border: 6px solid black;
	border-radius: 30px 30px 30px 30px;
	color: black;
	padding: 20px 20px 20px 20px;
	text-align: center;
}
